.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: white;
  }
  
  .title {
    font-size: 4rem;
    font-weight: 900;
    color: black;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #555;
  }
  